In [4]:
#Declaring Variables
a="sainadh"
print(a)
print(type(a))

#Multiple inputs
a,b = 1,"sai"
print(a)
print(b)

sainadh
<class 'str'>
1
sai

In [7]:
#Data types
a,b,c = 1,1.5,1+2j
print("a is:",type(a))
print("b is:",type(b))
print("c is:",type(c))
print("a is an integer:",isinstance(a,int))

a is: <class 'int'>
b is: <class 'float'>
c is: <class 'complex'>
a is an integer: True

In [11]:
#String
a="This is my first jupyter notebooks program"
print(a)
#multiline string
b=''''' In this section I am going to 
write the string in a two lines.'''
print(b)
print(a[0:9])
print(a+b)

This is my first jupyter notebooks program
'' In this section I am going to
write the string in a two lines.
This is m
This is my first jupyter notebooks program'' In this section I am going to
write the string in a two lines.

In [16]:
#lists
list1 = [1,2,3,"python","ml"]
print(type(list1[3]))
print(list1 * 5)
print(list1)
print(list1[1:])

<class 'str'>
[1, 2, 3, 'python', 'ml', 1, 2, 3, 'python', 'ml', 1, 2, 3, 'python', 'ml', 1, 2, 3, 'python', 'ml', 1, 2, 3, 'python', 'ml']
[1, 2, 3, 'python', 'ml']
[2, 3, 'python', 'ml']

In [18]:
#Tuple
tpl = (1,2,"python","ml")
print(type(tpl))
print(tpl)
print(tpl[2:])
print(tpl*2)
print(tpl+tpl)

<class 'tuple'>
(1, 2, 'python', 'ml')
('python', 'ml')
(1, 2, 'python', 'ml', 1, 2, 'python', 'ml')
(1, 2, 'python', 'ml', 1, 2, 'python', 'ml')

In [24]:
#Dictionary
d={1:'Sainadh',2:'Akula',3:'saiman2k'}
print(d)
print("First name is:",d[1])
print(d.keys())
print(d.values())

{1: 'Sainadh', 2: 'Akula', 3: 'saiman2k'}
First name is: Sainadh
dict_keys([1, 2, 3])
dict_values(['Sainadh', 'Akula', 'saiman2k'])

In [25]:
#boolean
a=True
b=False
if 4 % 2==0:
    print(a)
else :
    print(b)

True

In [28]:
#SET
#Creating an empty set
set0 =set()
set1 = {'sainadh',1,2,'Akula'}
print(set1)
set1.add('saiman2k')
print(set1)
set1.remove(2)
print(set1)

{1, 2, 'Akula', 'sainadh'}
{1, 2, 'sainadh', 'saiman2k', 'Akula'}
{1, 'sainadh', 'saiman2k', 'Akula'}