In [15]:
#STRINGS
#single line
str1 = 'My name is sainadh'
print(str)
print(type(str))
#multiple line
str2 = '''this is first line
second line
third line
fourth line and so on'''  
 
print(str2)
#index slicing
print(str1[2:10])
print(str1[5:])
print(str1[:6])
#negative indexing
print('negative')
print(str1[-10:-1])
#concatenation and replication
print(str1+str1)
print(str1*4)

My name is sainadh
<class 'str'>
this is first line
second line
third line
fourth line and so on
 name is
me is sainadh
My nam
negative
is sainad
My name is sainadhMy name is sainadh
My name is sainadhMy name is sainadhMy name is sainadhMy name is sainadh

In [36]:
#LISTS
l=[13,'sainadh',20,'IT']
print('\nMy details:')
print('\nName:',l[1])
print('\nId:',l[0])
print('\nAge:',l[2])
print('\nDepartment:',l[3])
#index slicing
print(l[1:4])
#updating lists
#single element
l[0]=6013
print(l)
#multiple element
l[1:3]=['akula',25]
print(l)
#iterating list
s=0
for i in l:
    if type(i)=='int':
        s=s+i
print('sum is:',s)
#Inserting elements in the list usinf for loop
l1=[]
n=int(input())
print('give ',n, 'inputs:')
for i in range(0,n):
    l1.append(input())
print('The created list is:')
for i in range(0,n):
    print(l1[i])
#Removing a element
l1.remove('Akula sainadh')
print(l1)

My details:

Name: sainadh

Id: 13

Age: 20

Department: IT
['sainadh', 20, 'IT']
[6013, 'sainadh', 20, 'IT']
[6013, 'akula', 25, 'IT']
sum is: 0
3
give  3 inputs:
Akula sainadh
13
20
The created list is:
Akula sainadh
13
20
['13', '20']

In [50]:
#Tuple
t =(1,2,3)
print(t)
c=0
for i in t:
    print("tuple[%d]= %d"%(c,i))
    c=c+1
#taking elements as input
t1=tuple(input())
print(t1)
c=0
for i in t1:
    print("tuple[%d]=%s"%(c,i))
    c=c+1
#tuple indexing
print(t1[2:4])

(1, 2, 3)
tuple[0]= 1
tuple[1]= 2
tuple[2]= 3
123456sainadh
('1', '2', '3', '4', '5', '6', 's', 'a', 'i', 'n', 'a', 'd', 'h')
tuple[0]=1
tuple[1]=2
tuple[2]=3
tuple[3]=4
tuple[4]=5
tuple[5]=6
tuple[6]=s
tuple[7]=a
tuple[8]=i
tuple[9]=n
tuple[10]=a
tuple[11]=d
tuple[12]=h
('3', '4')

In [59]:
#SETS
m={"jan","feb","march","aprl"}
print(type(m))
print(m)
#printing using loops
for i in m:
    print(i)
#using add method
m.add("may")
print(m)
#using update function
m.update(["june","july"])
print(m)
#using remove and discard
m.discard("jan")
m.remove("feb")
print(m)
m1={1,2,3,4,5,6}
m2={4,5,6,7,8,9}
#Union,Intersection and Difference
print("Union:")
print(m1|m2)
print('Intersection:')
print(m1&m2)
print('difference between m1 and m2:')
print(m1-m2)

<class 'set'>
{'aprl', 'feb', 'jan', 'march'}
aprl
feb
jan
march
{'feb', 'jan', 'may', 'aprl', 'march'}
{'feb', 'jan', 'june', 'may', 'july', 'aprl', 'march'}
{'june', 'may', 'july', 'aprl', 'march'}
Union:
{1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection:
{4, 5, 6}
difference between m1 and m2:
{1, 2, 3}

In [72]:
#dictionaries
d={"Name":"sainadh","Age":"20","Id":"13"}
#creating with dict() keyword
d1=dict({1:"Akula",2:"SAinadh",3:"13"})
print(d)
print(d1)
#accessing the values of the dictionary
print("first_Name: %s"% d["Name"])
print("Age: %s"% d["Age"])
print("Id: %s"% d["Id"])
#adding elements to the dictionary
d[1]="25"
print(d)
#deleting elements
del d[1]
print(d)
for i in d:
    print(i)
    print(d[i])

{'Name': 'sainadh', 'Age': '20', 'Id': '13'}
{1: 'Akula', 2: 'SAinadh', 3: '13'}
first_Name: sainadh
Age: 20
Id: 13
{'Name': 'sainadh', 'Age': '20', 'Id': '13', 1: '25'}
{'Name': 'sainadh', 'Age': '20', 'Id': '13'}
Name
sainadh
Age
20
Id
13